@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 800;
    font-display: swap;
    src: local("Inter-ExtraBold"),
      url("./assets/fonts/Inter-ExtraBold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    font-display: swap;
    src: local("Inter-Medium"),
      url("./assets/fonts/Inter-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    font-display: swap;
    src: local("Inter-Regular"),
      url("./assets/fonts/Inter-Regular.ttf") format("ttf");
  }
}
